{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if kitap_ekle %}
        Kitap Ekle
    {% else %}
        Kitap Duzenle
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if kitap_ekle %}
                <h1>Kitap Ekle</h1>
            {% else %}
                <h1>Kitap Duzenle</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
