<!-- app/templates/admin/kitaplar/kitaplar.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Kitaplar{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Kitaplar</h1>
        {% if kitaplar %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Isim. </th>
                  <th width="25%"> Tanim </th>
                  <th width="15%"> Kategori Adi </th>
                  <th width="15%"> Kitap Sahibi </th>
                  <th width="15%"> Duzenle </th>
                  <th width="15%"> Sil </th>
                </tr>
              </thead>
              <tbody>
              {% for kitap in kitaplar %}
                <tr>
                  <td> {{ kitap.name }} </td>
                  <td> {{ kitap.description }} </td>
                  <td> {{ kitap.kategori.name }}</td>
                  <td>
                      {{ kitap.uye.first_name }}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.kitap_duzenle', id=kitap.id) }}">
                      <i class="fa fa-pencil"></i> Duzenle
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.kitap_sil', id=kitap.id) }}">
                      <i class="fa fa-trash"></i> Sil
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> Henuz Kitap Eklenmemis </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.kitap_ekle') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Kitap Ekle
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
