{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if kategori_ekle %}
        Kategori Ekle
    {% else %}
        Kategori Duzenle
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if kategori_ekle %}
                <h1>Kategori Ekle</h1>
            {% else %}
                <h1>Kategori Duzenle</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
